/* login */
/* login component */
.login {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border: 1px solid black;
    padding: 2rem;
    background-color: #f8f8f8;

}

.login button {
    width: 40%;
    padding: .5rem;
    border-radius: .4rem;
    border-color: white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0080ff;
    align-self: center;
    
}


.login label {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 5px;
}

.login input {
    width: 90%;
    padding: 9px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: whitesmoke;
    margin-bottom: 15px;
}


.login p {
    color: red;
}

.login .text {
    color: rgb(203, 192, 192);
    align-self: center;
}

.login .register {
    margin: 0;
    width: 30%;
    padding: .5rem;
    border-radius: .4rem;
    border-color: white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0655a4;
    align-self: center;
}

.login h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}